:root{
    --pink: #C393A9;
    --rosa: #FFCCE2;
    --petrol: #002A36;

}

button.css-1yzw4ak{
    background-color: var(--petrol);
}

button.css-1yzw4ak svg path{
    fill: var(--rosa);
}

body{
    background-color: var(--petrol);
    background-repeat: no-repeat;
    background-size: contain;
}

img.Brand{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header{
    background-color: var(--pink);

}

html, body{
    margin: 0px;
    height: 100%;
    
}

/* div.Infofeld{
    background-image: url(Pictures/Pin\ mit\ Note.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 7px;
    position: absolute;
    top: 45%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 99;
} */

.Infofeld div{
    width: 100%;
    top: 20%
}

h2{
    font-family: "Tw Cen MT";
    margin-top: 0px;
    font-size: 30px;
    
}
p.Einleitungstext{
    font-family: "Malgun Gothic";
    font-size: 20px;
    text-align:left;
    line-height: 1.5;
    text-align: justify;
}

.Infofeld div{
    color: var(--rosa);
    padding: 50px;
    width: 50%;
    margin: 25px 30 0 30px;
    
}

/* .Infofeld{
    background-image: url(Pictures/Fleck.svg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 20px;
} */

.Infofeld{
    display: flex;
    flex-direction: row;
}



img.Lasschatten{
    position: fixed;
    bottom: 20px;
    height: 65px;
    right: 90px;
}

button.css-1pilyp0 svg, button.css-uhdhks svg {
    visibility: hidden;
}

button.css-1pilyp0, button.css-uhdhks{
    background-image: url("Pictures/SendButton.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center ;
}

@media (max-width: 1000px) {
    p.Einleitungstext{
        font-size: 16px;
    }

    .Infofeld div{
        color: var(--rosa);
        margin: 25px;
        padding: 0;
        width: 75%;
    }

    .Infofeld{
        background-image: none;
    }

    div.Pinnwand{
        max-width: 100%;
        min-width: 70%;
    }
}
@media (min-width: 501px) {
    #rasa-chat-widget-container{
        max-height: 90%;
    }
}

@media (max-width: 500px) {
    #paige{
        display: none;
    }
}

header{
    box-shadow: 0px 19px 10px rgba(0,0,0,0.05);
}