:root{
    --pink: #ED1E79;
    --rosa: #FFCCE2;
    --petrol: #002A36;

}

button.css-1yzw4ak{
    background-color: var(--petrol);
}

button.css-1yzw4ak svg path{
    fill: var(--rosa);
}

body{
    background-color: var(--rosa);
    background-repeat: no-repeat;
    background-size: contain;
}

img.Brand{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header{
    background-color: var(--pink);

}

html, body{
    margin: 0px;
    height: 100%;
    
}

/* div.Infofeld{
    background-image: url(Pictures/Pin\ mit\ Note.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 7px;
    position: absolute;
    top: 45%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 99;
} */

.Infofeld div{
    width: 100%;
    position: absolute;
    top: 20%
}

h2{
    font-family: "Tw Cen MT";
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 0px;
    font-size: 30px;
    color: var(--rosa);
    
}
p.Einleitungstext{
    font-family: "Malgun Gothic";
    font-size: 23px;
    text-align:left;
    color: var(--rosa);
    line-height: 1.5;
    margin: 25px;
}

img.Lasschatten{
    position: absolute;
    bottom: 20px;
    height: 65px;
    right: 90px;
}

button.css-1pilyp0 svg, button.css-uhdhks svg {
    visibility: hidden;
}

button.css-1pilyp0, button.css-uhdhks{
    background-image: url("Pictures/SendButton.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center ;
}

div.Pinnwand{
    height: 40%;
    width: 55%;
    background-color: var(--petrol);
    margin: 40px ;
    position: relative;
    border-radius: 20px;
}

div.DallE{
    flex: auto;
}

div.DallE img{
    max-width: 20%;
}

div.DallE p{
    position: absolute;
    font-family: "Malgun Gothic";
    font-weight: bold;
    font-size: 10%;
    top: 0;
    visibility: hidden;
    width: 85%;
    height: 95%;
    padding: 20px;
    margin: 0;
}

div.DallE:hover p{
    visibility: visible;
    font-size: 12px;

}

/* div#DallE1{
    width: 15%;
    top: 350px;
    left: 80px;
    z-index: 4;
}

div#DallE2{
    width: 15%;
    top: 350px;
    right: -100px;
    z-index: 2;
}

div#Blumen{
    width: 15%;
    top: 350px;
    left: 120px;
    z-index: 5;
}

div#Sonne{
    width: 15%;
    top: 350px;
    left: 640px;
    z-index: 3;
}

div#Welle{
    width: 15%;
    top: 350px;
    left: 365px;
    z-index: 1; 
} */